﻿@model StudHelper.Application.ViewModels.Resource.ResourceViewModel

<div class="modal fade" modal="resource" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title">New resource</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Title:</label>
                        <input asp-for="Title" resource-title class="form-control" />
                        <span asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Description:</label>
                        <textarea asp-for="Description" resource-description class="form-control"></textarea>
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" action-cancel>Close</button>
                    <button type="button" class="btn btn-primary" action-apply>Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>