﻿@model StudHelper.Application.ViewModels.Group.GroupListViewModel

@section Styles{ 
    <link href="~/css/list.css" rel="stylesheet"/>
}

<div class="container mt-3 groups">
    <div class="row">
        <div class="col-12">
            <div class="groups__header align-items-end mb-3">
                <span class="display-4">Groups </span>
                <a asp-action="Create" asp-controller="Group" class="btn btn-success">
                    <h5 class="groups__create_indent h-light "><i class="fas fa-plus-circle"></i> New group</h5>
                </a>
            </div>
            <table class="table">
                <tbody>
                    @foreach (var group in Model.Groups)
                    {
                        <tr>
                            <td>
                                <div class="d-flex flex-column">
                                    <a asp-action="Info" asp-route-id="@(group.Id)">
                                        <h2>@group.Title</h2>
                                    </a>
                                    <span class="owner_user-name_opacity">Owner: <a asp-controller="User" asp-action="Profile" asp-route-id="@(group.OwnerId)">@group.OwnerName</a></span>
                                    <br />
                                    <p>@group.Description</p>
                                </div>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <page-links pager="@Model.Pager" page-action="List" class="groups__paging_align"></page-links>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>