﻿@using StudHelper.Web.Utils;
@model StudHelper.Application.ViewModels.User.UserViewModel

@{
    ViewData["Title"] = "Profile";
    int userId = this.User.GetUserId();
}

@section Styles {
    <link href="~/css/user.css" rel="stylesheet" />
}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="card-title md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-block d-md-none">
                                <div class="d-flex flex-column justify-content-sm-start">
                                    <div class="d-block">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <h2>
                                                    @Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName)
                                                </h2>
                                            </div>
                                            @if (userId == Model.Id)
                                            {
                                                <div class="ml-auto">
                                                    <h2>
                                                        <a class="btn btn-primary" role="button" id="btnDiscard" asp-action="Profile" asp-controller="Settings">Edit</a>
                                                    </h2>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="image-container" style="width: 150px; height: 150px">
                                        <img src="http://placehold.it/150x150" id="imgProfile" class="img-thumbnail">
                                        @if (userId == Model.Id)
                                        {
                                            <div class="middle">
                                                <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change">
                                                <input type="file" style="display: none;" id="profilePicture" name="file">
                                            </div>
                                        }
                                    </div>

                                    <div class="user-data mt-3">
                                        <div class="d-block">
                                            <h6>
                                                <span class="user-data-item">
                                                    @Html.DisplayNameFor(model => model.UserName):
                                                </span>
                                                @Html.DisplayFor(model => model.UserName)
                                            </h6>
                                        </div>
                                        <div class="d-block">
                                            <h6>
                                                <span class="user-data-item">
                                                    @Html.DisplayNameFor(model => model.Email):
                                                </span>
                                                @Html.DisplayFor(model => model.Email)
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-md-block">
                                <div class="d-flex flex-row justify-content-sm-start">
                                    <div class="image-container">
                                        <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail">
                                        @if (userId == Model.Id)
                                        {
                                            <div class="middle">
                                                <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change">
                                                <input type="file" style="display: none;" id="profilePicture" name="file">
                                            </div>
                                        }
                                    </div>

                                    <div class="user-data ml-3">
                                        <h2 class="d-block">
                                            @Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName)
                                        </h2>
                                        <div class="d-block">
                                            <h6>
                                                <span class="user-data-item">
                                                    @Html.DisplayNameFor(model => model.UserName):
                                                </span>
                                                @Html.DisplayFor(model => model.UserName)
                                            </h6>
                                        </div>
                                        <div class="d-block">
                                            <h6>
                                                <span class="user-data-item">
                                                    @Html.DisplayNameFor(model => model.Email):
                                                </span>
                                                @Html.DisplayFor(model => model.Email)
                                            </h6>
                                        </div>
                                    </div>

                                    @if (userId == Model.Id)
                                    {
                                        <div class="ml-auto">
                                            <a class="btn btn-primary" role="button" id="btnDiscard" asp-action="Profile" asp-controller="Settings">Edit</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>