﻿.groups__header {
    display: flex;
    justify-content: space-between;
}

.groups__create_indent {
    margin: 0;
    padding: 2px;
}

.groups__paging_align{
    display: flex;
    justify-content: center;
}