﻿@using StudHelper.Application.ViewModels.Resource
@using StudHelper.Application.ViewModels.Group
@model ResourceViewModel

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <p class="h2">Create a new resource</p>
            <hr />
            <div id="content"></div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="GroupId" hidden />
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <input id="btn_save" type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/create-group.js"></script>
    <partial name="_ValidationScriptsPartial" />
}